<%- include("partials/header") %>

<section id="register" class="ui container-fluid">
    <div class="ui main text container segment">
        <div class="ui huge header">Sign Up</div>
        <form class="ui form" action="/register" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <input class="ui secondary big inverted button" type="submit"> 
        </form>
        <a href="/task">Go Back</a>
        <p>Already Have An Account? <a href="/login">Click Here</a></p> 
    </div>
</section>

<%- include("partials/footer") %>